table {
    width: 100%;
}

#contactMediums {
    padding-left: 0px;
    margin-left: 0px;
    list-style: none;
}

#relatedEntities {
    padding-left: 0px;
    margin-left: 0px;
    list-style: none;
}
